$section-width: 800px;

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 2;
}

section {
    max-width: $section-width;
    margin: 50px auto;
}

section h3 {
  font-size: 20px;
}
